@{   
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Please read our FAQ, they will help to answer to most questions:
        <a asp-action="Faq" asp-controller="Home">FAQ</a>
    </p>
    <p>
        If it didn't help, click here:
        <a asp-action="Help" asp-controller="Home">Help me manually</a>        
    </p>    
</div>